/* Font */
.st-font {
    font-family: 'Satisfy';
}

html,body {
    height: 100%;
}

.container-fluid {
    min-height: 100%;
}

/* servece Icon color change*/
.i-color {
    color:chartreuse;
}

/* service text color change  */
.t-color {
    color: silver;
}

a.nav-link{
    color: whitesmoke;
}
a.nav-link:hover{
    color: black;
    background-color: #e9cd79;
}
a.nav-link.active{
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}

.submit{
    background-color: #0d6efd;
    border: none;
    -webkit-text-fill-color: white;
    
}

.back{
    background-color: #0d6efd;
    border: none;
    -webkit-text-fill-color: white;
    width: 50px;
    text-align: center;
}